@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kayıt Ol</h1>
<form>
    <label>Ad Soyad</label>
    <input type="text" class="form-control" />
    <label>Email</label>
    <input type="email" class="form-control" />
    <label>Şifre</label>
    <input type="password" class="form-control" />
    <button class="btn btn-primary mt-3">Kayıt Ol</button>
</form>
