@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Uyarı!</h4>
    <p>Bu işlemi yapmak için lütfen giriş yapın veya kayıt olun.</p>
    
</div>
